<%- partial('_partial/header') %>

<%
    function getAllPosts(posts) {
        var result = [];
        posts.each(function(post) {
            result.push(post);
        });
        return result;
    }

    function getAllUnitYears(posts) {
        var years = [];
        posts.forEach(function(item, idx){
            if(years.indexOf(item.date.year()) == -1) {
                years.push(item.date.year());
            }
        });
        return years;
    }

    function getIndexs(years, posts) {
        var indexs = [];
        years.forEach(function(year) {
            indexs.push({type: 'year', value: year});
            posts.forEach(function(post) {
                if(post.date.year() == year) {
                    indexs.push({type: 'post', value: post});
                }
            });
        });
        return indexs;
    }
    var posts = getAllPosts(page.posts);
    var years = getAllUnitYears(page.posts);
    var indexs = getIndexs(years, posts);
%>

<div class="index-content">
    <ul class="articles">
        <% indexs.forEach(function(item) { if(item.type == 'year') { %>
            <li class="item">
                <div class="year">
                    <span class="panel"><%=item.value%></span>
                </div>
            </li>
        <% } else if(item.type == 'post') { %>
            <li class="item">
                <div class="item-dialog">
                    <span class="left-angle"></span>
                    <div class="section">
                        <div class="indexs">
                            <% if(item.value.categories.length > 0) { %>
                                <div class="icon category">
                                    <% item.value.categories.forEach(function(cat) { %>
                                        <span><%=cat.name%></span>
                                    <% }); %>
                                </div>
                            <% } %>

                            <% if(item.value.tags.length > 0) { %>
                                <div class="icon tags">
                                    <% item.value.tags.forEach(function(tag){ %>
                                        <span><%=tag.name%></span>
                                    <% }); %>
                                </div>
                            <%}%>
                        </div>
                        <h2 class="index-title">
                            <%=item.value.title%>
                        </h2>
                        <div class="article-markdown">
                            <%if(item.value.description) {%>
                                <%-item.value.more%>
                            <%} else if(item.value.excerpt) {%>
                                <%-item.value.excerpt%>
                            <%} else if(item.value.content) {%>
                                <%var br = item.value.content.indexOf('</p>'); if(br<0) {%>
                                    <%-item.value.content%>
                                <%} else {%>
                                    <%-item.value.content.substring(0, br+4)%>
                                <%}%>
                            <%}%>
                        </div>
                        <div class="bottom">
                            <a class="icon" href="<%=url_for(item.value.path)%>">more</a>
                            <span class="icon calendar"><%=item.value.date.format('YYYY/MM/DD')%></span>
                        </div>
                    </div>
                </div>
            </li>
        <% } }); %>
    </ul>
</div>
