<%
    // cover the posts to array
    function getAllPosts(posts) {
        var result = [];
        posts.each(function(post) {
            result.push(post);
        });
        return result;
    }

    // get all year of the page
    function getAllUnitYears(posts) {
        var years = [];
        posts.forEach(function(item, idx){
            if(years.indexOf(item.date.year()) == -1) {
                years.push(item.date.year());
            }
        });
        return years;
    }

    // get indexes for the page
    function getindexes(years, posts) {
        var indexes = [];
        years.forEach(function(year) {
            indexes.push({type: 'year', value: year});
            posts.forEach(function(post) {
                if(post.date.year() == year) {
                    indexes.push({type: 'post', value: post});
                }
            });
        });
        return indexes;
    }

    var posts = getAllPosts(page.posts);
    var years = getAllUnitYears(page.posts);
    var indexes = getindexes(years, posts);
%>

<%- partial('_partial/header') %>

<div class="main-container margin-at">
    <ul class="time-line">
        <% indexes.forEach(function(item) { if(item.type == 'year') { %>
            <li class="item">
                <div class="index-year">
                    <span class="panel"><%=item.value%></span>
                </div>
            </li>
        <% } else if(item.type == 'post') { %>
            <li class="item">
                <%- partial('_partial/preview', {post: item.value}) %>
            </li>
        <% } }); %>
        <li class="item">
            <div class="pages">
                <%for(var i = 0, len = page.total; i < len; i++) {%>
                    <a href="<%= i == 0 ? '': /page/ + (i+1)%>/"><div class="page <%=page.current == i+1 ? 'current': ''%>"><%=i+1%></div></a>
                <%}%>
            </div>
        </li>
    </ul>
</div>
